.u-section-1 .u-sheet-1 {
  min-height: 1236px;
}

.u-section-1 .u-image-1 {
  width: 796px;
  height: 1196px;
  margin: 77px auto 0 -252px;
}

.u-section-1 .u-shape-1 {
  width: 3215px;
  height: 487px;
  --radius: 15px;
  margin: -887px -1038px 0;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: -494px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 61px;
  margin: 0 258px 0 auto;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.5rem;
  margin: 9px 295px 0 320px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  align-self: center;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 40px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 60px;
  padding: 17px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 10.416666666666668rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 195px;
    margin-left: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 85px;
    margin-left: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 811px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: -502px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8.333333333333334rem;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 58px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 511px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -202px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 34px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 34px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}
