.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-image-1 {
  width: 103px;
  height: 300px;
  margin: -2041px 160px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 103px;
  height: 300px;
  margin: -278px -585px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 103px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-4 {
  width: 1000px;
  height: 666px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
  margin: 1424px auto 0 -222px;
}

.u-section-1 .u-image-5 {
  width: 973px;
  height: 751px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease;
  margin: -718px auto 0 -208px;
}

.u-section-1 .u-group-elements-1 {
  width: 509px;
  min-height: 386px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease;
  margin: -608px 35px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
  margin: 0 10px 0 18px;
}

.u-section-1 .u-image-6 {
  width: 271px;
  height: 144px;
  margin: -105px 21px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -8px 10px 0 18px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  --radius: 50px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 700;
  margin: 31px 110px 0 auto;
  padding: 22px 62px 23px 61px;
}

.u-section-1 .u-shape-1 {
  --radius: 40px;
  height: 145px;
  margin-top: -225px;
  margin-bottom: 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 142px;
  height: 350px;
  margin: -161px -71px 60px auto;
}

.u-section-1 .u-image-7 {
  width: 350px;
  height: 142px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 480px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 556px;
    margin-top: -532px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -413px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 417px;
    margin-top: -412px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -274px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-4 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 263px;
    margin-top: -279px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-top: -120px;
    margin-right: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  font-weight: 700 !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  font-weight: 700 !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
} .u-section-2 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/323.png');
}

.u-section-2 .u-sheet-1 {
  min-height: 713px;
}

.u-section-2 .u-image-1 {
  width: 452px;
  height: 696px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
  margin: 26px auto 0 287px;
}

.u-section-2 .u-group-elements-1 {
  width: 945px;
  min-height: 347px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
  margin: -495px auto 0 93px;
}

.u-section-2 .u-shape-1 {
  width: 936px;
  --radius: 40px;
  height: 174px;
  margin: 173px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 800;
  font-size: 4.5rem;
  margin: -347px 9px 0 0;
}

.u-section-2 .u-line-1 {
  width: 804px;
  transform-origin: left center;
  height: 3px;
  margin: 12px 66px 0 auto;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 3px 8px rgba(51,51,51,0.97);
  margin: 15px 9px 0 18px;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 300px;
  height: 443px;
  margin: -419px -150px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 443px;
  height: 300px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
    background-size: cover, cover;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 119px;
    margin-left: 268px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 720px;
    margin-top: -588px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 152px;
    margin-left: 88px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
    margin-top: -621px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 524px;
    margin-top: 202px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
    margin-top: -499px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 725px;
}

.u-section-3 .u-group-elements-1 {
  width: 587px;
  min-height: 467px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
  margin: 138px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 17px 0 37px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px 17px 0 37px;
}

.u-section-3 .u-shape-1 {
  --radius: 40px;
  height: 339px;
  margin-top: -329px;
  margin-bottom: 0;
}

.u-section-3 .u-group-elements-2 {
  width: 767px;
  min-height: 511px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
  margin: -511px auto 60px -37px;
}

.u-section-3 .u-shape-2 {
  width: 396px;
  height: 349px;
  --radius: 60px;
  margin: 162px auto 0 37px;
}

.u-section-3 .u-image-1 {
  --radius: 60px;
  width: 240px;
  height: 360px;
  margin: -511px 209px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 513px;
  height: 418px;
  margin: -276px auto 0 0;
}

.u-section-3 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 377px;
  height: 282px;
  margin: -502px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 282px;
  height: 377px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-2 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.333333333333333rem;
  }

  .u-section-3 .u-group-elements-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 340px;
  }
} .u-section-4 {
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/323.png'), linear-gradient(to bottom, rgba(19, 119, 30, 1), rgba(19, 119, 30, 1));
  background-size: cover, cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-4 .u-group-elements-1 {
  width: 490px;
  min-height: 560px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
  height: auto;
  margin: 262px auto 0 0;
}

.u-section-4 .u-shape-1 {
  width: 451px;
  --radius: 40px;
  height: 452px;
  margin: 109px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin: -560px 0 0 21px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 2px 3px 8px rgba(26,26,26,0.97);
  margin: 28px 48px 0 21px;
}

.u-section-4 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 238px;
  height: 156px;
  margin: -547px -80px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 225px;
  height: 134px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(354.13deg);
}

.u-section-4 .u-image-2 {
  width: 1411px;
  filter: brightness(0.91);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  left: auto;
  right: -706px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 622px;
  margin: -712px 28px 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 285px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 50px;
  height: 265px;
  margin: -15px 0 0 auto;
}

.u-section-4 .u-image-3 {
  width: 265px;
  height: 50px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
}

.u-section-4 .u-image-4 {
  min-height: 285px;
  background-image: url("images/photo-1682517602498-b410acd33503.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 285px;
  background-image: url("images/photo-1603771037846-df62db6db54f.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  min-height: 273px;
  background-image: url("images/photo-1709287061508-f2de3d8d8418.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-7 {
  min-height: 273px;
  background-image: url("images/photo-1583662929259-a3793d8a0920.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 254px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-8 {
  min-height: 254px;
  background-image: url("images/photo-1592397222482-f48a4da0b84f.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in-out;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 254px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 9397px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 9397px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -940px;
  }

  .u-section-4 .u-rotation-parent-2 {
    height: 264px;
  }

  .u-section-4 .u-image-3 {
    width: 264px;
  }

  .u-section-4 .u-layout-cell-8 {
    background-size: cover;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 16093px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 16093px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 22306px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 22306px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.6666666666666665rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
    margin-top: -712px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-4 .u-image-4 {
    min-height: 742px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 742px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    min-height: 474px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-7 {
    min-height: 474px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 2646px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-8 {
    min-height: 315px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 1018px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 19655px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 19655px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-4 .u-image-4 {
    min-height: 467px;
  }

  .u-section-4 .u-image-5 {
    min-height: 467px;
  }

  .u-section-4 .u-image-6 {
    min-height: 298px;
  }

  .u-section-4 .u-image-7 {
    min-height: 298px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 1666px;
  }

  .u-section-4 .u-image-8 {
    min-height: 198px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 641px;
  }
}