.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-group-elements-1 {
  width: 554px;
  min-height: 1085px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-out;
  margin: -91px 63px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 10px;
  height: 236px;
  --bottom-right-radius: 40px;
  --top-right-radius: 40px;
  margin: 671px 75px 0 auto;
}

.u-section-1 .u-group-elements-2 {
  width: 579px;
  min-height: 425px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-out;
  margin: -950px auto 60px -39px;
}

.u-section-1 .u-image-2 {
  height: 121px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: -49px 69px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 1px 80px 0 176px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 340px;
    margin-left: 0;
  }
}